<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="ApplicationName" value="Belhekar Jewellers, Rajgurunagar"/>
		<add key="ApplicationShortName" value="BJ"/>
		<add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Data\JSMS.mdb;Persist Security Info=True"/>
	</appSettings>
</configuration>